
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
/credentials/
/gcloud/
/spark-3.3.2-bin-hadoop3/
secrets/
